/* Wildcard */
* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
    overflow-y: hidden;
}

.container-sm {
    flex-direction: column;
    justify-content: flex-start;
    padding: 5vh 0;
}

h1 {
    margin-bottom: 32px!important;
}

form {
    width: 75%;
}

label, .form-control {
    margin-bottom: 12px;
    max-width: 75%;
}

.btn {
    margin-top: 32px!important;
}

td, th {
    text-align: center!important;
}