/* Wildcard */
* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.container {
    height: 85vh;
}

.alert {
    margin-bottom: 2px!important;
    line-height: normal;
    padding: 4px 12px!important;
}