<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgo=">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"">
    <title>Checkerboard</title>
</head>
<body>
    <header>
        <h1>*** Checkerboard ***</h1>
    </header>
    <main>
        <table>
            <tbody>
                {% for row in range(dimensions.height)%}
                    <tr>
                        {% for col in range(dimensions.width)%}
                                <td class="{{ 'even' if (row + col) % 2 == 0 else 'odd' }}"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>  
    </main>
</body>
{% if colors %}
<script>
    var colors = JSON.parse('{{ colors | tojson | safe }}');
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endif %}
</html>